@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --body-color: #f2f2f2;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #82b3d3;
  --green-color: #7db54F;
  --brown-color: #756157;
  --grey-color: #333333;
  --dark-grey-color: #83B3D333;
  --light-grey-color: #83B3D31F;
  --border-item-color: #E5E5E5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;

  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.fieldset-none {
  border: 0;
}


.list-none,
.fieldset-none {
  margin: 0;
  padding: 0;
}

/*Titles*/
.section-title {
  margin: 0;
  text-transform: uppercase;
}

/*Logo*/
.logo {
  padding-top: 51px;
  padding-bottom: 82px;
  margin: 0 auto;

}

.divider {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

/*Header*/
.page-header {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

/*Main*/
.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.main-header {
  position: relative;
}

.main-header,
.inner-header {
  background-color: var(--black-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-header {
  display: flex;
}

.main-header {
  background-image: url("../images/index-header.jpg");
}

.inner-header {
  background-image: url("../images/inner-header.jpg");
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/*Breadcrumbs*/
.breadcrumbs-list {
  display: flex;
  gap: 29px;
  align-items: center;
  margin-bottom: 40px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-image-home {
  display: flex;
  align-self: center;
}

/*Filter*/
.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin-right: 70px;
  min-width: 150px;
  max-width: 280px;
}

.catalog-filter-group:nth-child(4) {
  margin: 0 70px;
}

.catalog-filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-container {
  display: flex;
}

.catalog-buttons-group {
  margin-top: 56px;
}


/*Control*/
.control-input,
.newsletter-email {
  padding: 0;
  font-family: inherit;
  background-color: var(--body-color);
  border: none;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-email {
  padding: 14px 20px;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.control-input {
  font-weight: 700;
}

.control-input-price {
  width: 100%;
}


/*Button*/
.button,
.hotel-card-button,
.hotel-card-rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  display: inline-flex;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 58px
}

.third-button {
  padding: 8px 20px;
  border-radius: 4px;
  background-color: var(--green-color);
}

.catalog-filter-button:not(:last-child) {
  border-radius: 4px;
  margin-bottom: 25px;
}

.catalog-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Card*/
.hotel-card-button {
  background-color: var(--brown-color);
}

.hotel-card-rating {
  background-color: var(--body-color);
  color: var(--grey-color);
}

.hotel-card-rating {
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

/*Navigation*/
.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.secondary-navigation {
  margin-left: auto;
}

.secondary-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.secondary-navigation-item:not(:last-child) {
  padding: 22px 12px;
}

.secondary-navigation-item:last-child {
  margin-left: 20px;
}

.navigation-link {
  padding: 20px 16px;
}

.navigation-link,
.social-link,
.footer-contacts-phone,
.footer-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black-color);
  text-align: center;
}

/*Description*/
.description {
  padding: 69px;
}

.description-title {
  padding: 0 220px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 25px;
}

.search-description,
.description-reasons {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

/*Reasons*/
.reasons-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 auto 62px;

  display: block;
  width: 175px;
}

.reasons-description {
  display: block;
  width: 230px;
  margin: 0 auto;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  padding: 102px 85px;
  flex-grow: 1;
}

.reasons-img {
  display: block;
}

.white-title,
.button {
  color: var(--white-color);
}

.blue-color-item {
  background-color: var(--blue-color);
}

.light-grey-color-item {
  background-color: var(--light-grey-color);
}

.dark-grey-color-item {
  background-color: var(--dark-grey-color);
}

/*Recomendations*/
.recommendations-section {
  padding: 64px 347px;
}

.recommendations-title {
  line-height: 36px;
  margin-bottom: 30px;
}

.recommendations-description {
  margin: 0;
  padding: 0;
}

.recommendations-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendations-item {
  padding: 81px 85px;
  flex-grow: 1;
}

.recommendations-item:nth-child(even) {
  background-color: var(--white-color);
}

.recommendations-img {
  margin: 0 auto;
  margin-bottom: 30px;
}

/*Search*/
.search {
  padding: 96px 304px;
}

.search-title,
.newsletter-title {
  margin-bottom: 20px;
}

.search-link,
.primary-button {
  background-color: var(--brown-color);

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  padding: 8px 26px;
}

.secondary-navigation-button {
  padding: 8px 34px;
}

.secondary-button {
  background-color: var(--blue-color);
}

.search-link,
.secondary-button {
  padding: 8px 50px;
}

.secondary-button-card {
  padding: 8px 20px;
  border-radius: 4px;
}

.search-description,
.newsletter-description,
.newsletter-form-email {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.newsletter-description {
  padding: 0 140px;
}

.newsletter-form-email {
  display: flex;
  justify-content: center;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*Sort*/
.sort-quantity {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.sort {
  display: flex;
  padding: 50px 70px 40px;
  align-items: center;
}

.sort-list {
  display: flex;
  gap: 8px;
}

.sort-list-item {
  padding: 17px 16px;
  border-radius: 4px;
}

.sort-list-item:first-child {
  border: 2px solid var(--black-color);
}

.sort-list-item:not(:first-child) {
  border: 2px solid var(--border-item-color);
}

.select-sort {
  margin-left: auto;
  margin-right: 70px;
}

/*Hotel*/
.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 70px;
  gap: 20px;
}

.hotel-card-item {
  border: 1px solid var(--border-item-color);
  padding: 20px;
}

.hotel-card-title {
  padding: 0;
  margin: 0 0 16px;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-card-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hotel-card-description:not(:last-child) {
  margin-bottom: 16px;
}

/*Newsletter*/
.newsletter-background {
  background-image: url("../images/subscribe.jpg");
  background-color: var(--black-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter {
  padding: 96px 258px;
}

.newsletter-inner {
  text-align: center;
}

/*Footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  align-items: center;
}

.footer-contacts-address {
  display: block;
  width: 336px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-social-item {
  padding: 13px 17px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

/*Pagination*/
.pagination-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 40px 70px 60px;
}

.pagination-item {
  display: inline-flex;
}

.pagination-link {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  padding: 11px 24px;
  border-radius: 4px;
  background-color: var(--blue-color);
}

.pagination-link-current,
.pagination-link-more {
  color: var(--black-color);
}

.pagination-link-more {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
}

.pagination-link-current {
  background-color: var(--body-color);
}

.pagination-final-link {
  padding: 11px 18px;
}

.white-section {
 background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
