@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --body-color: #f2f2f2;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #82b3d3;
  --green-color: #7db54F;
  --brown-color: #756157;
  --grey-color: #333333;
  --dark-grey-color: #83B3D333;
  --light-grey-color: #83B3D31F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;

  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Titles*/
.section-title {
  margin: 0;
  text-transform: uppercase;
}

.white-title {
  color: var(--white-color);
}

/*Logo*/
.logo {
  padding-top: 51px;
  padding-bottom: 82px;
  margin: 0 auto;

}

.divider {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}


/*Header*/
.page-header {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

/*Main*/
.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.main-header {
  position: relative;
}

.main-header,
.inner-header {
  display: flex;
  background-color: var(--black-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-header {
  background-image: url("../images/index-header.jpg");
}

.inner-header {
  background-image: url("../images/inner-header.jpg");
  color: var(--white-color);
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.white-section,
.pagination-link-more {
  background-color: var(--white-color);
}


/*Breadcrumbs*/
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

/*Filter*/
.catalog-filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/*Control*/
.control-input,
.newsletter-email {
  background-color: var(--body-color);
  border: none;
  font-size: 18px;
  line-height: 24px;
}

.control-input {
  font-weight: 700;
}


/*Button*/
.button,
.hotel-card-button,
.hotel-card-rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
  border: none;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
}

.blue-button {
  background-color: var(--black-color);
}

.green-button {
  background-color: var(--green-color);
}

/*Card*/
.hotel-card-button {
  background-color: var(--brown-color);
}

.hotel-card-rating {
  background-color: var(--body-color);
  color: var(--grey-color);
}

/*Navigation*/
.navigation-list {
  display: flex;
}

.secondary-navigation {
  margin-left: auto;
}

.secondary-navigation-list {
  display: flex;
}

.navigation-link,
.social-link,
.footer-contacts-phone,
.footer-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black-color);
  text-align: center;
}

/*Description*/
.description {
  padding: 69px;
}

.description-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 25px;
}

.description-reasons {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

/*Reasons*/
.reasons-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 auto 62px;

  display: block;
  width: 175px;
}

.reasons-description {
  display: block;
  width: 230px;
  margin: 0 auto;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  padding: 102px 85px;
  flex-grow: 1;
}

.reasons-img {
  display: block;
}

.white-color-description {
  color: var(--white-color);
}

.blue-color-item {
  background-color: var(--blue-color);
}

.light-grey-color-item {
  background-color: var(--light-grey-color);
}

.dark-grey-color-item {
  background-color: var(--dark-grey-color);
}

/*Recomendations*/
/*.recommendations {*/
/*  padding: 64px;*/
/*}*/

.recommendations-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendations-item {
  padding: 81px 85px;
  flex-grow: 1;
}

.recommendations-img {
  margin: 0 auto;
}

/*Search*/
.search {
  padding: 96px 304px;
}

.search-link,
.secondary-navigation-link-button {
  background-color: var(--brown-color);

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
}

/*Newsletter*/
.newsletter-background {
  background-image: url("../images/subscribe.jpg");
  background-color: var(--black-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter {
  padding: 96px 104px;
}

/*Footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-contacts-address {
  display: block;
  width: 336px;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

.footer-social-list {
  display: flex;
  width: 142px;
  list-style: none;
}

/*Pagination*/
.pagination-link {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.pagination-link-current,
.pagination-link-more {
  color: var(--black-color);
}

.pagination-link-current {
  background-color: var(--body-color);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
